---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import MostSearched from '../components/MostSearched.astro';
import ManualCategories from '../components/ManualCategories.astro';
import Footer from '../components/Footer.astro';
import WhatsAppWidget from '../components/WhatsAppWidget.astro';
---

<Layout title="Ayuda Creativa - Centro de Ayuda">
  <div class="min-h-screen">
    <Header />
    <HeroSection />
    <MostSearched />
    <ManualCategories />
    <Footer />
    <WhatsAppWidget />
  </div>
</Layout>
